<%- include ('components/header'); %>

<div class="appointments row">
    <div class="cards">
        <div class="cards-text">
            <a href="#">
                Today's Appointments : 
            </a>
        </div>
        <div class="cards-img-content">
            <p class="cards-infos">
                <%=todaysAppointments.length%>
            </p>
            <i class="fa-solid fa-calendar-check cards-img"></i>
        </div>
    </div>
    <div class="cards red">
        <div class="cards-text">
            <a href="#">
                Total Upcoming Appointments : 
            </a>
        </div>
        <div class="cards-img-content">
            <p class="cards-infos">
                <%=upcomingAppointments.length%>
            </p>
            <i class="fa-solid fa-calendar-check cards-img"></i>
        </div>
    </div>

</div>


<%- include ('components/footer'); %>