<%- include ('components/header'); %>


<div class="calendar-container">
    <div id="calendar"></div>
</div>
<script src="/js/appointments.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>


<%- include ('components/footer'); %>